<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.s23m.cell.eclipse.preferences.ui.RootPreferencesPage"
            id="org.s23m.cell.eclipse.preferences.ui.RootPreferencesPage"
            name="Gmodel">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.s23m.cell.eclipse.preferences.ui.RootPreferencesPage"
            class="org.s23m.cell.eclipse.preferences.ui.RepositoryPreferencePage"
            id="org.s23m.cell.eclipse.preferences.ui.RepositoryPreferencePage"
            name="Repository">
      </page>
   </extension>
</plugin>
