<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Target Platform" sequenceNumber="26">
<locations>
<location path="${project_loc}/../tycho-build/p2-updatesite/target/repository/plugins" type="Directory"/>
</locations>
</target>
